* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body { /* makes the margin 0 so there are no white borders */
	margin: 0;
	overflow: hidden;
	background-color: black;
	width: 100%;
	height: 100%;
}
canvas#game {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

div#leveleditor {
	width: 100vw;
	height: 100vh;
	background-color: #dddddd;
	z-index: 1;
	position: absolute;
	padding: 8px;
	overflow: auto;
}
h1 {
	font-size: 4em;
	margin: 0;
}
textarea#levelcode {
	white-space: pre;
	overflow-wrap: normal;
}

.logo {
	width: 25%;
	height: auto;
	opacity: 0.25;
}

.level {
	position: absolute;
	top: 80%;
	right: 1%;
	opacity: 0.8;
	font-size: 8vh;
	text-align: right;
}